---
const { slug } = Astro.props;
import Layout from "../../../layouts/Layout.astro";
---
<Layout title="Cari Anime">
    <!-- <div class="min-h-screen">
        <form method="">
            
        </form>
    </div> -->
</Layout>