---
import { Icon } from "astro-icon/components"
---

<footer class="h-fit bg-zinc-900 border-t flex justify-center items-center border-zinc-800 p-3">
    <div class="flex max-md:flex-col w-full p-5 justify-between md:items-center">
        <div class="flex flex-col gap-2">
             <span class="text-zinc-100 font-bold text-xl">Baka<span class="text-zinc-500"> Anime</span></span>
             <p class="text-sm text-zinc-300 max-w-md">BakaanimeV3 adalah versi terbaru dari bakaanime sebelumnya, dengan penambahan fitur baru dan experience baru</p>
        </div>
        <div class="flex flex-col gap-4 max-md:mt-4">
            <div class="flex gap-4">
                <a href="https://github.com/Rzfan03/bakaanime-v3/issues" target="_blank" class="text-zinc-300 text-sm font-medium hover:underline cursor-pointer">Lapor Bug</a>
                <a href="https://github.com/Rzfan03/bakaanime-v3/issues" target="_blank" class="text-zinc-300 text-sm font-medium hover:underline cursor-pointer">Request Fitur</a>
            </div>
            <div class="flex gap-4">
                <Icon class="text-zinc-100 text-2xl hover:text-zinc-400 cursor-pointer" name="lucide:github"/>
                <Icon class="text-zinc-100 text-2xl hover:text-zinc-400 cursor-pointer" name="lucide:twitter"/>
                <Icon class="text-zinc-100 text-2xl hover:text-zinc-400 cursor-pointer" name="lucide:facebook"/>
                <Icon class="text-zinc-100 text-2xl hover:text-zinc-400 cursor-pointer" name="lucide:instagram"/>
            </div>
        </div>
    </div>
</footer>